@use "../../style/global" as *;
@use "../../style/mixins" as *;
@use "../../style/variables" as *;

.navbar2 {
    display: flex;
    height: 120px;
}

.leftside2 {
    display: flex;

    &__logo {
        height: 100px;
        margin: 0.5rem 8rem 0.5rem 0.5rem;
    }
}

/* Basic styles for the burger menu */
.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 20px;
    right: 36px;
    top: 36px;
}

.bm-burger-bars {
    background: $primary;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background-color: $secondary;
}

.bm-menu {
    background: $primary;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    display: flex;
    border-left: 5px solid rgba(35, 35, 35, 0.2);
}

.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

.bm-item {
    @include mobileHamburg;
    display: inline-block;
    margin-bottom: 1rem;
    color: $white;
    transition: color 0.2s;
    background: linear-gradient(to left, #344030, #98a194),
        linear-gradient(to left, #344030, #d4ddd2, #aabba4);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

    &:hover {
        background-size: 0 2px, 100% 2px;
    }
}

.bm-item:hover {
    color: #98a194;
}
