@use "../../style/global" as *;
@use "../../style/mixins" as *;
@use "../../style/variables" as *;

.dental-container {
    position: absolute;
    margin-top: 60rem;
}

.dental-section {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;

    &__img {
        width: 50%;
        max-height: 300px;
    }
}

.dental-text {
    padding-left: 1rem;
    &__header {
        text-wrap: nowrap;
        @include mobileH1;
    }
    &__body {
        @include mobileP1;
    }

    &__cta {
        border-radius: $buttonRadius;
        padding: 1rem;
        margin: 1rem;
        background-color: $primary;
        color: $white;

        &:hover {
            background-color: $black;
        }
    }
}
