@use "../../style/global" as *;
@use "../../style/mixins" as *;
@use "../../style/variables" as *;

.navbar2 {
    display: flex;
    justify-content: space-between;
    position: relative;
    animation-name: slideDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    @include tablet {
        top: -100px;

        @keyframes slideDown {
            from {
                top: -100px;
            }
            to {
                top: 0;
            }
        }
    }
}

.hamburger {
    display: flex; // Visible on mobile
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    @include tablet {
        display: none; // Hide on tablet and larger
    }

    span {
        width: 2rem;
        height: 0.25rem;
        background: $primary;
        border-radius: 10px;
        transition: all 0.3s linear;
        position: relative;
        transform-origin: 1px;
    }
}

.middle2,
.rightside2 {
    display: none; // Hidden by default on mobile

    @include tablet {
        display: flex;
    }

    &__list-parent {
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            display: flex;
        }
    }

    &__link {
        text-decoration: none;
        color: $primary;
        transition: background-size 400ms;

        @include tablet {
            margin: 2rem 1rem;
            padding-bottom: 0.25rem;
            display: inline-block;
            background: linear-gradient(to right, #344030, #98a194),
                linear-gradient(to right, #344030, #d4ddd2, #aabba4);
            background-size: 100% 2px, 0 2px;
            background-position: 100% 100%, 0 100%;
            background-repeat: no-repeat;

            &:hover {
                background-size: 0 2px, 100% 2px;
            }
        }
    }
}

.rightside2 {
    @include tablet {
        padding: 1rem 2rem;

        &__login,
        &__cart {
            background-color: rgba(36, 46, 54, 0.1);
            border-radius: $buttonRadius;
            padding: 1.25rem 2.25rem;
            margin-right: 1rem;

            &:hover {
                background-color: $secondary;
            }

            &:focus {
                background-color: $primary;
            }
        }
    }
}

.middle2.open,
.rightside2.open {
    display: flex;
    flex-direction: column; // Ensures vertical layout on mobile
}

.leftside2 {
    &__logo {
        height: 100px; // Adjust height as necessary
    }

    @include tablet {
        display: flex;
        &__logo {
            padding: 0.5rem;
            margin-left: 2.5rem;
        }
    }
}
