.navbar {
    display: flex;
    justify-content: space-between;
}

.leftside {
    display: flex;
}
.middle {
    display: flex;

    &__list-parent {
        display: flex;
        list-style: none;
    }
}
.rightside {
    display: flex;
    list-style: none;
}
