$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;

$buttonRadius: 100px;
$cardRadius: 10px;

$primary: #344030;
$secondary: #b0b7a4;
$third: #3b5436;
$black: #242424;
$white: #ffffff;
$hover: #98a194;
