@use "../../style/global" as *;
@use "../../style/mixins" as *;
@use "../../style/variables" as *;

.sleep-container {
}

.sleep-section {
    display: flex;
    width: 100%;
    padding: 2rem;

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        overflow: hidden;

        @include tablet {
            max-width: 350.875px;
            height: 350.875px;
        }
    }
}

.sleep-text {
    &__header {
        @include mobileH1;
        color: $white;
    }
    &__body {
        color: $white;
        @include mobileP1;
    }

    &__cta {
        border-radius: $buttonRadius;
        padding: 1rem;
        margin: 1rem;
        background-color: $primary;
        color: $white;

        &:hover {
            background-color: $black;
        }
    }
}
