@use "../../style/global" as *;
@use "../../style/mixins" as *;
@use "../../style/variables" as *;

.benefits-container {
    background-image: url("../../assets/backgroundStripe.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}
.benefits-background {
    width: 100%;
}

.benefits-text {
    padding-left: 2rem;
    padding-bottom: 1rem;
    background-color: $white;

    &__header {
        @include mobileH1;

        @include tablet {
            @include desktopH1;
        }
    }

    &__subheader {
        padding-top: 0.5rem;
        @include mobileH4;

        @include tablet {
            @include desktopH4;
        }
    }
}

.benefits-cards {
    width: 100%;
    height: 80%;
    display: flex;
}

.benefits-cards-left {
    height: 100%;
    width: 50%;

    &__top {
        margin: 0.75rem;
        background-color: $white;
        border-radius: $cardRadius;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &__points {
        @include mobileH4;
        padding: 0.75rem;
    }
}

.benefits-cards-right {
    height: 60%;
    width: 50%;
    position: relative;
    top: 5rem;

    &__left,
    &__right {
        display: flex;
    }

    &__one,
    &__two,
    &__three,
    &__four {
        height: 100px;
        width: 100px;
        margin: 0 auto;
        margin-top: 0.5rem;
        border-radius: $cardRadius;
    }

    &__img {
        object-fit: contain;
        width: 90%;
        height: 90%;
        padding: 0.5rem;
    }
}
